:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 17px;
  color-scheme: light dark;
  color: #242424;
  background-color: white;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}

body {
  margin: 0;
}

.moverightcss {
  width: 50%;
  background: #9dbdf2;
  position: relative;
  animation: moveRight;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

@keyframes moveRight {
  0%   {left: 0px; top: 0px;}
  100%  {left: 50%; top: 0px;}
}
